{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>
<h1 class="nametitle">{{ name }}'s portfolio</h1>
<div class="box"></div>
<div class="categories">
    <div id="r1">
        <h1 id="r1text">Budget Planner <br> + <br> Emergency Funds Estimation</h1>
    </div>
    <div id="r2">
        <h1 id="r2text">Investment List</h1>
    </div>
    <div id="r3">
        <h1 id="r3text">Sources</h1>
    </div>
</div>

</body>
</html>